#teamcontent{width: 1000px;margin: auto;background:#FFFFFF;margin-top: 30px;}
#hb{margin-left: 30px;float: left;}
#text{width: 900px;position: relative;left: 40px;top: 50px;}
#slp,#main{width: 900px;margin: auto;}
#slp img,#main img{width: 100%;}
#gonghsicsr{clear: left;}
#maintext p{text-indent: 2em;font-size: 15px;text-align: center;}
